* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}

body {
  display: flex;
  justify-content: center;
  /* background-color: burlywood; */
  
}

.page {
  width: 400px;
  /* background-color: blue; */
  border: 1px solid black;
  background-color: lightpink;
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  height: 90vh;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.profile-section {
  display: flex;
  justify-content: space-between;

}

.follow-section {
  display: flex;
  gap: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group > button {
  width: 50%;
}

.tab-nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tab-nav > button {
  width: 33%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.img{
  height: 100px;
  width: 100px;
  border-radius: 50%;

}

.me-auto{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  /* border-bottom: 20px; */
  padding-top: 25px;
}